@font-face {
    font-family: "PT-Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* Цвета */

:root {
    --basic-white: white;
    --basic-black: black;
    --basic-red: #EE3643;
    --basic-blue-gray:  #32425C;
    --basic-dark-blue-gray: #293449;
    --basic-greylight: #c5c5c5;
    --basic-gold: #FFD180;
    --basic-checkout: #63A63E;
    --basic-background: #F1F5F7;
    --basic-border: #eaeaea;
    --basic-cost: #a9a9a9;
    --basic-shadow: #405069;
    --basic-social: rgba(33, 42, 58, 1);
    --basic-sorting-bg: #f7f3ec;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-green: #8ED78F;
    --special-background: #F9F5F0;
    --accent-red: #CA2C37;
    --accent-active: rgba(255, 255, 255, 0.5);
    --special-red: #BA2732;
    --basic-filter-border: #e5e5e5;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* Главная страница */

body {
    margin: 0;
    padding: 0;
    font-family: "PT-Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.main-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-white);
    background-color: var(--basic-background);
}

/* Верхняя часть header (темная) */

.header-top {
    background-color: var(--basic-dark-blue-gray);
}

.search input {
    background-color: var(--basic-dark-blue-gray);
    border: none;
}

.order-info, .main-nav-list, .promo-products-list, .promotions-list, .products-list, .popular-partners-list, .services-list, .delivery-list, .site-navigation-list, .links-list, .social-list, .breadcrumbs, .sorting-list, .pagination-list, .filter-form, .filter-manufacturer-list, .filter-power-list {
    list-style: none;
}

.order-info-item a, .checkout {
    color: var(--basic-white);
    text-decoration: none;
}

/* .logo:active {

} */

.order-info-item a:active, .checkout:active {
    color: var(--accent-active);
}

.checkout {
    background-color: var(--basic-checkout);
}

/* Нижняя часть header */

.header-page-caption {
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    font-style: italic;
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-blue-gray);
    text-align: center;
    vertical-align: middle;
}

.header-contacts .header-contacts-phone {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    font-weight: bold;
    border: 3px solid var(--basic-white);
}

.login, .registration, .user {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.login:hover, .registration:hover {
    color: var(--basic-red);
}

.login:active, .registration:active {
    color: var(--basic-greylight);
}

.main-nav {
    background-color: var(--basic-blue-gray);
}



.main-nav-list li {
    text-align: center;

}

.main-nav-list a {
    color: var(--basic-white);
    text-decoration: none;  
    vertical-align: middle;
    box-shadow: inset 0px -5px 0px var(--basic-dark-blue-gray);
}

.main-nav-list a:hover {
    background-color: var(--basic-dark-blue-gray);
}

.main-nav-list a:active {
    opacity: 0.5;
}

/* Промо-секция с товарами, акциями и галереей */

.promo-products, .gallery, .promotions {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
}

.materials, .delivery {
    background-color: var(--special-yellow);
}

.tools {
    background-color: var(--special-blue);
}

.vechicle {
    background-color: var(--special-purple);
}

.discounts {
    background-color: var(--special-green);
}

.promo-products-list-item h3, .promotions-list-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.button {
    font-family: "Cuprum", "Arial" sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    background-color: var(--basic-red);
}

.button:hover {
    background-color: var(--accent-red);
}

.button:active {
    background-color: var(--special-red);
}

.button-promo-products, .button-promotions {
    background-color: rgba(255, 255, 255, 0.3);
}

.button-promo-products:hover, .button-promotions:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.button-promo-products:active, .button-promotions:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.gallery-content {
    background-color: var(--basic-greylight);
}

.gallery-content h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.gallery-content p {
    font-size: 18px;
    line-height: 24px;
}

/* Секция "Популярные продукты" */

.section-top {
    background-color: var(--special-background);
}

.section-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-blue-gray)
}

.products-list {
    font-family: "PT-Sans", "Arial", sans-serif;
    text-transform: none;
}

.products-list-item {
    border: 1px solid var(--basic-border);
}

.products-list-item h3 {
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    color: var(--basic-black);
}

.products-list-item a {
    text-decoration: none;
}

.products-list-item p {
    font-size: 17px;
    line-height: 18px;
    font-style: normal;
    font-weight: blold;
}

.product-cost-deleted {
    color: var(--basic-cost);
    text-decoration-line: line-through;
}

.product-cost-current {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Секция "Популярные производители" */

.popular-partners-list-item {
    width: 220px;
    height: 145px;
}

.popular-partners-list-item a:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-partners-list-item:active {
    opacity: 0.5;
}

/* Секция "Сервис" */

.services {
    background-color: var(--basic-background);
    background-image: url("../img/services-bg.png"); 
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-header-black {
    color: var(--basic-black);
}

.services-list-item {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 30px;
    background-color: var(--basic-blue-gray);
    box-shadow: 0px 1px 0 var(--basic-dark-blue-gray), inset 0px 1px 0px var(--basic-shadow);
}

.services-list-item:hover {
    background-color: var(--basic-dark-blue-gray);
}

.services-list-item-active {
    color: var(--basic-blue-gray);
    background-color: var(--basic-white); 
    box-shadow: 0px 1px 0px var(--basic-white);
}

.services-list-item-active:hover {
    background-color: var(--basic-white); 
}

.services-list-item-active:active {
    background-color: var(--basic-white); 
}

.services-delivery-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-blue-gray);
}

.delivery-list-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}

/* footer */

.main-footer {
    background-color: var(--basic-blue-gray);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-white);
}

.footer-contacts-phone {
    color: var(--basic-background);
    text-decoration: none;
}

.site-navigation-list-item a {
    color: var(--basic-background);
    text-decoration: none;
}

.site-navigation-list-item a:hover, .links-list-item a:hover {
    text-decoration: underline;
}

.site-navigation-list-item a:active, .links-list-item a:active {
    opacity: 0.5;
    text-decoration: none;
}

.links-list-item a {
    color: var(--basic-gold);
    text-decoration: none;
}

.footer-bottom {
    background-color: var(--basic-dark-blue-gray);
    font-size: 16px;
    line-height: 18px;
}

.social-button {
    color: var(--basic-white);
    text-decoration: none;
    background-color: var(--basic-social);
}

.social-button:hover, .social-button:active {
    background-color: var(--basic-red);
}

.mail, .designed {
    color: var(--basic-gold);
    text-decoration: none;
}

.mail:hover, .designed:hover {
    text-decoration: underline;
}

.mail:active, .designed:active {
    color: var(--basic-red);
    text-decoration: none;
}

.red {
    background-color: var(--basic-red);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Каталог */

.catalog-main {
    font-family: "PT-Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.user-info {
    text-align: center;
}

.user-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-blue-gray);
    text-decoration: none;
}

.user-link:hover {
    color: var(--basic-red);
}

.user-link:active {
    color: var(--basic-greylight);
}

/* Хлебные крошки */

.breadcrumbs {
    font-family: "PT-Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.breadcrumbs a {
    color: var(--basic-black);
    text-decoration: none;
}

/* Заголовок секции */

.section-top-blue {
    background-color: var(--basic-background);
}

/* Сортировка */



.sorting {
    background-color: var(--basic-sorting-bg);
}

.sorting h2, .filter h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

 .sorting-list-item {
    opacity: 0.3;
    text-decoration: underline dotted var(--basic-red);
 }

 .sorting-list-item-up, .sorting-list-item-down {
    text-decoration: none;
 }

 .sorting-list-item-active {
    color: var(--basic-red);
    opacity: 1;
    text-decoration: none;
 }

/* Пагинация */

.pagination-list-item {
    text-align: center;
    border: 1px solid var(--basic-border);
    border-radius: 2px;
}

.pagination-list a {
    color: var(--basic-black);
    text-decoration: none;
}

.pagination-list-item-active {
    background-color: var(--basic-red);
}

.pagination-list-item-active a {
    color: var(--basic-white);
}

/* aside "Фильтр" */

.filter h2 {
    background-color: var(--basic-sorting-bg);
}

.filter-form {
    font-style: "PT-Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
}

.filter-cost, .filter-manufacturer, .filter-power {
    border: none;
}

.filter-cost, .filter-manufacturer {
    border-bottom: 1px solid var(--basic-filter-border);
}

.filter-cost legend, .filter-manufacturer legend, .filter-power legend {
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
}

.show {
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-filter-border);
}

.product-detail-caption {
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    background-color: var(--basic-background);
}