@font-face {
    font-family: "PT-Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* Цвета */

:root {
    --basic-white: white;
    --basic-black: black;
    --basic-red: #EE3643;
    --basic-blue-gray:  #32425C;
    --basic-dark-blue-gray: #293449;
    --basic-greylight: #c5c5c5;
    --basic-gold: #FFD180;
    --basic-checkout: #63A63E;
    --basic-background: #F1F5F7;
    --basic-border: #eaeaea;
    --basic-cost: #a9a9a9;
    --basic-shadow: #405069;
    --basic-social: rgba(33, 42, 58, 1);
    --basic-sorting-bg: #f7f3ec;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-green: #8ED78F;
    --special-background: #F9F5F0;
    --accent-red: #CA2C37;
    --accent-active: rgba(255, 255, 255, 0.5);
    --special-red: #BA2732;
    --basic-filter-border: #e5e5e5;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* Главная страница */

.page {
    height: 100%;
}

body {
    font-family: "PT-Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-black);
    background-color: var(--basic-white);
    
}

.page-body, .inner-page-body {
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.main-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-white);
    background-color: var(--basic-background);
    margin-bottom: 59px;
}

/* Верхняя часть header (темная) */

.header-top {
    background-color: var(--basic-dark-blue-gray);
    width: 100%;
    height: 42px;
    margin-bottom: 46px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.header-top-wrapper {
    display: flex;
    position: relative;
    height: 42px;
    justify-content: space-between;
}

.header-logo, .header-logo img{
    position: absolute;
    top: 0;
    left: 0;
}

.search {
    padding-left: 42px;
    margin-left: 220px;
    display: flex;
    align-items: center;
}

.search input {
    background-color: var(--basic-dark-blue-gray);
    border: none;
}

.order-info, .main-nav-list, .promo-list, .products-list, .popular-partners-list, .services-list, .delivery-list, .site-navigation-list, .links-list, .social-list, .breadcrumbs, .sorting-list, .pagination-list, .filter-form, .filter-manufacturer-list, .filter-power-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.order-info {
    display: flex;
}

.order-info-item {
    display: flex;
    padding: 0 26px 0 47px;
    align-items: center;
}

.order-info-item a, .checkout a {
    color: var(--basic-white);
    text-decoration: none;
}

.order-info-item a:active, .checkout:active {
    color: var(--accent-active);
}

.checkout {
    background-color: var(--basic-checkout);
    padding-right: 16px;
    padding-left: 19px;
}

/* Нижняя часть header */

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-page-caption {
    width: 270px;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    font-style: italic;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-blue-gray);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.header-contacts .header-contacts-phone {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    font-weight: bold;
    border: 3px solid var(--basic-white);
}

.header-contacts-phone {
    display: inline-block;
    padding: 7px 50px 8px 74px;
    margin-bottom: 3px;
}

.authorize {
    margin: 0;
    padding: 0;
    width: 300px;
}

.login, .registration, .user {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    padding: 12px 27px 12px 45px;
    display: inline-block;
}

.login:hover, .registration:hover {
    color: var(--basic-red);
}

.login:active, .registration:active {
    color: var(--basic-greylight);
}

.main-nav {
    
    background-color: var(--basic-blue-gray);
    box-shadow: inset 0px -5px 0px var(--basic-dark-blue-gray);
    margin-bottom: 60px;  
}

.main-nav-list {
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.main-nav-list li {
    display: flex;
    text-align: center;
    margin: 0;
    align-items: center;
}

.main-nav-list a {
    color: var(--basic-white);
    text-decoration: none;
    padding: 0 24px 0 27px;  
}

.main-nav-list li:hover {
    background-color: var(--basic-dark-blue-gray);
}

.main-nav-list li:active a{
    opacity: 0.5;
}

/* Промо-секция с товарами, акциями и галереей */

.promo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin-bottom: 60px;
}

.promo-list {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
}

.promo-list-item {
    height: 123px;
}

.materials, .delivery {
    background-color: var(--special-yellow);
}

.tools {
    background-color: var(--special-blue);
}

.vechicle {
    background-color: var(--special-purple);
}

.discounts {
    background-color: var(--special-green);
}

.promo-list-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin: 20px 23px 14px;
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    background-color: var(--basic-red);
}

.button:hover {
    background-color: var(--accent-red);
}

.button:active {
    background-color: var(--special-red);
}

.button-promo {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    width: 135px;
    height: 38px;
    text-align: center;
    margin-left: 23px;
}

.button-promo:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.button-promo:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.gallery {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    position: relative;
}

.gallery-content {
    background-color: var(--basic-greylight);
    margin: 0;
}

.gallery-content figcaption {
    position: absolute;
    z-index: 5;
}

.gallery-content h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
}

.gallery-content p {
    font-size: 18px;
    line-height: 24px;
}

.gallery-content img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.gallery-button {
    position: absolute;
}

/* Секция "Популярные продукты" */

.section-top {
    height: 89px;
    background-color: var(--special-background);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-blue-gray);
    margin: 0 28px;
}

.products-list, .popular-partners-list {
    font-family: "PT-Sans", "Arial", sans-serif;
    text-transform: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-list {
    margin-bottom: 50px;
}

.products-list-item {
    border: 1px solid var(--basic-border);
    text-align: center;
    width: 218px;
    min-height: 316px;
    margin-bottom: 20px;
}

.products-list-item h3 {
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    color: var(--basic-black);
}

.products-list-item a {
    text-decoration: none;
}

.products-list-item p {
    font-size: 17px;
    line-height: 18px;
    font-style: normal;
    font-weight: blold;
}

.product-cost-deleted {
    color: var(--basic-cost);
    text-decoration-line: line-through;
}

.product-cost-current {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Секция "Популярные производители" */

.popular-partners-list {
    margin-bottom: 50px;
}

.popular-partners-list-item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
}

.popular-partners-list-item a:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-partners-list-item:active {
    opacity: 0.5;
}

/* Секция "Сервис" */

.services {
    background-color: var(--basic-background);
}

.grid-services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 25px;
    background-image: url("../img/services-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-header-black {
    color: var(--basic-black);
    margin-left: 0;
    margin-bottom: 25px;
}

.grid-services .section-header, .grid-services p {
    grid-column: 1 / -1;
}

.grid-services p {
    margin: 0;
    margin-bottom: 70px;
}

.services-list {
    width: 240px;
}

.services-list-item {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 30px;
    background-color: var(--basic-blue-gray);
    box-shadow: 0px 1px 0 var(--basic-dark-blue-gray), inset 0px 1px 0px var(--basic-shadow);
}

.services-list-item:hover {
    background-color: var(--basic-dark-blue-gray);
}

.services-list-item-active {
    color: var(--basic-blue-gray);
    background-color: var(--basic-white); 
    box-shadow: 0px 1px 0px var(--basic-white);
}

.services-list-item-active:hover {
    background-color: var(--basic-white); 
}

.services-list-item-active:active {
    background-color: var(--basic-white); 
}

.services-section-header {
    margin: 0;
    margin-bottom: 30px;
}

.services-delivery-header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-blue-gray);
}

.delivery-list-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}

/* Секция "О нас" и "Контакты" */

.grid-about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 492px;
}

/* footer */

.main-footer {
    background-color: var(--basic-blue-gray);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-white);
}

.footer-top {
    display: grid;
    grid-template-columns: 380px 1fr;
}

.footer-contacts-phone {
    color: var(--basic-background);
    text-decoration: none;
}

.site-navigation-list-item a {
    color: var(--basic-background);
    text-decoration: none;
}

.site-navigation-list-item a:hover, .links-list-item a:hover {
    text-decoration: underline;
}

.site-navigation-list-item a:active, .links-list-item a:active {
    opacity: 0.5;
    text-decoration: none;
}

.links-list-item a {
    color: var(--basic-gold);
    text-decoration: none;
}

.site-navigation-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.links-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.footer-bottom {
    
    background-color: var(--basic-dark-blue-gray);
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-bottom-grid .copy {
    justify-self: start;
}

.social {
    justify-self: center;
}

.footer-bottom-grid p {
    justify-self: end;
}

.social-button {
    color: var(--basic-white);
    text-decoration: none;
    background-color: var(--basic-social);
}

.social-button:hover, .social-button:active {
    background-color: var(--basic-red);
}

.mail, .designed {
    color: var(--basic-gold);
    text-decoration: none;
}

.mail:hover, .designed:hover {
    text-decoration: underline;
}

.mail:active, .designed:active {
    color: var(--basic-red);
    text-decoration: none;
}

.red {
    background-color: var(--basic-red);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Каталог */



.catalog-main {
    font-family: "PT-Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.user-info {
    text-align: center;
}

.user-info p {
    margin: 0;
}

.user-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-blue-gray);
    text-decoration: none;
}

.user-link:hover {
    color: var(--basic-red);
}

.user-link:active {
    color: var(--basic-greylight);
}

/* Хлебные крошки */

.breadcrumbs {
    font-family: "PT-Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.breadcrumbs a {
    color: var(--basic-black);
    text-decoration: none;
}

/* Контент */

.catalog-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* Заголовок секции */

.section-top-blue {
    background-color: var(--basic-background);
    grid-column: 1 / -1;
}

/* Сортировка */

.sorting {
    background-color: var(--basic-sorting-bg);
    grid-column: 1 / -1;
}

.sorting h2, .filter h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

 .sorting-list-item {
    opacity: 0.3;
    text-decoration: underline dotted var(--basic-red);
 }

 .sorting-list-item-up, .sorting-list-item-down {
    text-decoration: none;
 }

 .sorting-list-item-active {
    color: var(--basic-red);
    opacity: 1;
    text-decoration: none;
 }

 /* Список товаров */

 .products .products-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
 }

/* Пагинация */

.pagination {
    grid-column: 1 / -1;
}

.pagination-list-item {
    text-align: center;
    border: 1px solid var(--basic-border);
    border-radius: 2px;
}

.pagination-list a {
    color: var(--basic-black);
    text-decoration: none;
}

.pagination-list-item-active {
    background-color: var(--basic-red);
}

.pagination-list-item-active a {
    color: var(--basic-white);
}

/* aside "Фильтр" */

.filter h2 {
    background-color: var(--basic-sorting-bg);
}

.filter-form {
    font-style: "PT-Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
}

.filter-cost, .filter-manufacturer, .filter-power {
    border: none;
}

.filter-cost, .filter-manufacturer {
    border-bottom: 1px solid var(--basic-filter-border);
}

.filter-cost legend, .filter-manufacturer legend, .filter-power legend {
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
}

.show {
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-filter-border);
}

.product-detail-caption {
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    background-color: var(--basic-background);
}